<div class="main-content-header mb-3">
  <%= load_flash_alert %>
  <%= load_flash_notice %>
  <h1 class="main-content-title text-3xl font-bold mb-5">Jabatan</h1>
</div>
<div class="main-content-card bg-white p-7 rounded shadow-md">
  <%#= render 'admin/admins/partials/search' %>
  <div class="flow-root">
    <div class="float-right">
      <%= link_to new_user_position_path, class: 'inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear' do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Tambah Jabatan
      <% end %>
    </div>
  </div>
  <%= render partial: 'user/positions/partials/table',
                locals: { positions: @positions } %>
</div>
