<div id="main-content" class="max-w-2xl border-y-8 mx-auto my-10">
  <div class="invoice-header py-5 flex justify-between items-center">
    <h1 class="font-semibold uppercase invoice-header-title">invoice</h1>
    <div class="logo bg-neutral-600 flex w-20 h-20 rounded-full">
      <p class="m-auto uppercase text-white">Logo</p>
    </div>
  </div>
  <div class="invoice-people mb-4">
    <div class="invoice-people-desc mb-4">
      <p class="font-bold invoice-people-title">John Smith</p>
      <div class="invoice-people-details">
        <p>4490 Oak Drive</p>
        <p>Albany, NY 12210</p>
      </div>
    </div>
    <div class="flex justify-between mb-5">
      <div class="invoice-people-desc">
        <h2 class="font-bold uppercase invoice-people-title">Bill To:</h2>
        <div class="invoice-people-details">
          <p>Jessie M Home</p>
          <p>4312 Wood Road</p>
          <p>New York, Ny 10031</p>
        </div>
      </div>
      <div class="invoice-people-desc">
        <h2 class="font-bold uppercase invoice-people-title">Ship To:</h2>
        <div class="invoice-people-details">
          <p>Jessie M Home</p>
          <p>4312 Wood Road</p>
          <p>New York, Ny 10031</p>
        </div>
      </div>
      <table class="invoice-people-identity">
        <tr>
          <td class="font-bold uppercase pr-6 invoice-people-identity-title">Invoice #</td>
          <td class="invoice-identity-people-detail">90304</td>
        </tr>
        <tr>
          <td class="font-bold uppercase pr-6 invoice-people-identity-title">Invoice Date</td>
          <td class="invoice-people-identity-detail">12/01/2022</td>
        </tr>
        <tr>
          <td class="font-bold uppercase pr-6 invoice-people-identity-title">P.O.#</td>
          <td class="invoice-people-identity-detail">1201/2022</td>
        </tr>
        <tr>
          <td class="font-bold uppercase pr-6 invoice-people-identity-title">Due Date</td>
          <td class="invoice-people-identity-detail">12/03/2022</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="invoice-total py-3 mb-4 flex justify-between border-y-2">
    <h1 class="invoice-total-title font-bold">Invoice Total</h1>
    <p class="invoice-total-detail font-bold">220.00</p>
  </div>
  <div class="invoice-details mb-4">
    <table class="invoice-details-table w-full text-left">
      <thead class="invoice-details-table-head uppercase">
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody class="invoice-details-table-body">
        <tr>
          <td>Native App Development</td>
          <td>1</td>
          <td>100.00</td>
          <td>100.00</td>
        </tr>
        <tr>
          <td>Native App Development</td>
          <td>1</td>
          <td>100.00</td>
          <td>100.00</td>
        </tr>
        <tr>
          <td>Native App Development</td>
          <td>1</td>
          <td>100.00</td>
          <td>100.00</td>
        </tr>
      </tbody>
    </table>
    <div class="invoice-amount flex justify-end">
      <table>
        <tr>
          <td class="px-28">Subtotal</td>
          <td class="">220.00</td>
        </tr>
        <tr>
          <td class="px-28">Discount</td>
          <td class="">5%</td>
        </tr>
        <tr>
          <td class="px-28">Tax</td>
          <td class="">5%</td>
        </tr>
        <tr>
          <td class="font-bold px-28 uppercase">Total</td>
          <td class="font-bold ">220.00</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="invoice-terms mb-8">
    <div class="invoice-terms-content">
      <div class="invoice-terms-desc mb-4">
        <h1 class="uppercase text-1xl font-bold mb-1 invoice-terms-title">
          Terms & Conditions
        </h1>
        <p class="invoice-terms-detail">Payment is due within 15 days</p>
      </div>
      <div class="invoice-terms-payment">
        <p>Name Of Bank</p>
        <p>Account Number: 123456780</p>
        <p>Routing: 0899234934</p>
      </div>
    </div>
  </div>
</div>
