<div class="main-content-header mb-3">
  <%= load_flash_alert %>
  <%= load_flash_notice %>
  <h1 class="main-content-title text-3xl font-bold mb-5">Pengajuan Cuti</h1>
</div>
<%#= render 'user/work_leave_requests/partials/search' %>
<div class="main-content-card bg-white p-7 rounded shadow-md">
  <div class="flow-root">
    <div class="float-right">
      <%= link_to new_user_work_leave_request_path, class: 'inline-block bg-pacifixBlue text-white mb-3 rounded py-2 px-4 shadow hover:shadow-lg transition ease-linear' do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Tambah Pengajuan Cuti
      <% end %>
    </div>
  </div>
  <%= render partial: 'user/work_leave_requests/partials/table',
              locals: { work_leave_requests: @work_leave_requests } %>
</div>
