<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">Edit Jabatan</h1>
</div>
<div class="main-content-card p-7 bg-white shadow-md rounded">
  <%= render partial: 'admin/positions/partials/form',
              locals: {
                position: @position,
                url: @url,
                method: @method,
                text_submit: 'Save',
                hrd_levels: @hrd_levels,
                emp_levels: @emp_levels
              } %>
</div>
