<div class="modal fixed z-50 hidden" id="UserProjectLink">
  <div class="modal-backdrop fixed inset-0 bg-gray-900 opacity-40"></div>
  <div class="modal-wrap fixed inset-0 flex items-center justify-center z-50 px-5">
    <div class="bg-white rounded-md m-auto shadow-lg w-full sm:w-[500px]">
      <%= form_for(@user_project, url: url, html: {class: 'modal-form ', remote: true}) do |f| %>
        <div class="modal-header p-4 border-b">
          <h1 class="text-xl font-bold">Tambah Anggota</h1>
        </div>
        <div class="modal-content p-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="relative inline-block w-12 align-middle select-none transition duration-200 ease-in float-right mr-2">
            <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
            <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          </div>
        <div class="modal-header p-4 border-t text-right">
          <button type="button" class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 hideModal">Cancel</button>
          <button type="submit" class="bg-pacifixBlue hover:shadow-md text-white px-4 py-2 rounded mr-2 hideModal">Save</button>
        </div>
        <div class="form-group">
          <%= f.label :user_id, "Pegawai", class: 'font-bold block' %>
          <%= f.select :user_id, options_for_select(@users, params[:q] ? params[:q][:user_id] : nil), {include_blank: false}, {class: "w-full p-2 rounded outline-none bg-white border border-slate-300 focus:border-pacifixBlue py-[6px] select-dropdown", id: 'admin-domain-access-field', 'data-url': admin_admins_path} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  var colorSelected = []
  $('.color-item').each(function(index, item){
    colorSelected.push({
      index: index,
      value: $(item).data('color')
    })
    if($('.color-code').val() === colorSelected[index].value){
      $(item).children().removeClass('hidden')
      return false
    }
  })

  $('.color-item').click(function(){
    $(this).children().toggleClass('hidden')
    $(this).siblings().children().addClass('hidden')
    $('.color-code').val($(this).data('color'))
  })
</script>
