<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">New Sales Person</h1>
</div>
<div class="main-content-card p-7 bg-white shadow-md rounded">
  <%= render partial: 'user/sales_persons/partials/form',
              locals: {
                sales_person: @sales_person,
                url: user_sales_persons_path,
                text_submit: 'Save',
                back_url: user_sales_persons_path
              } %>
</div>
