<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">Dashboard</h1>
</div>
<div class="gap-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
  <div class="main-content-card bg-white rounded p-3 shadow-md w-full border-l-8 border-powderBlue">
    <h2 class="text-xl mb-1">Admin</h2>
    <p class="text-3xl mb-1">5</p>
    <a href="" class="bg-red-400 text-white p-2 rounded shadow hover:shadow-md transition ease-in">Show More</a>
  </div>
  <div class="main-content-card bg-white rounded p-3 shadow-md w-full border-l-8 border-powderBlue">
    <h2 class="text-xl mb-1">Contact Us</h2>
    <p class="text-3xl mb-1">5</p>
    <a href="" class="bg-pacifixBlue text-white p-2 rounded shadow">Show More</a>
  </div>
  <div class="main-content-card bg-white rounded p-3 shadow-md w-full border-l-8 border-powderBlue">
    <h2 class="text-xl mb-1">Sample</h2>
    <p class="text-3xl mb-1">5</p>
    <a href="" class="bg-orange-400 text-white p-2 rounded shadow">Show More</a>
  </div>
  <div class="main-content-card bg-white rounded p-3 shadow-md w-full border-l-8 border-powderBlue">
    <h2 class="text-xl mb-1">Sample</h2>
    <p class="text-3xl mb-1">5</p>
    <a href="" class="bg-africanViolet text-white p-2 rounded shadow">Show More</a>
  </div>
</div>