<nav class="py-5 w-full fixed right-0">
  <div class="container mx-auto px-4">
    <ul class="list-reset flex text-gray-500">
      <li><a href="#">Features</a></li>
      <li><span class="mx-2">/</span></li>
      <li><a href="#">Launch</a></li>
    </ul>
  </div>
</nav>
<div class="h-screen flex flex-col items-center">
  <section id="home-banner" class="home-banner h-full text-center flex items-center">
    <div class="container mx-auto px-4">
      <h1 class="mb-2 font-extrabold text-5xl home-banner-content-title sm:text-6xl md:text-8xl">Coming <span class="title-second">Soon</span></h1>
      <p class="home-banner-content-desc text-slate-500">We are currently working on a new super cool website without newsletter, <span class="block">and standar comming soon font & color</span></p>
    </div>
  </section>
  <footer class="py-5 flex items-center justify-center">
    <span>Proudly created with </span>
    <%= image_tag asset_image("elvin/love-footer.svg"), class: 'w-8 mx-1' %>
    <a href=""> Elvin App</a>
  </footer>
</div>
