<div class="main-content-header flex justify-between items-center">
  <h1 class="text-2xl sm:text-3xl font-bold mb-5 main-content-title">Calon Pegawai Baru</h1>
</div>
<%= render partial: 'user/interviews/partials/form',
            locals: {
              interview: @interview,
              url: user_interviews_path
            } %>
