<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">New Currency</h1>
</div>
<div class="main-content-card p-7 bg-white shadow-md rounded">
  <%= render partial: 'admin/currencies/partials/form',
              locals: {
                currency: @currency,
                url: admin_currencies_path,
                text_submit: 'Create',
                back_url: admin_currencies_path
              } %>
</div>
