<div class="main-content py-3 bg-powderBlue h-screen">
  <div class="container max-w-4xl mx-auto px-4 sm:px-0">
      <div class="main-content-card bg-white p-5 rounded mb-5">
        <h2>Thank you for answering the question! </h2>
        <a href="https://www.nineod.com" class="underline text-blue-600">nineod.com</a>
      </div>
  </div>
</div>
