<div class="main-content-header mb-3">
  <h1 class="main-content-title text-3xl font-bold mb-5">New Bug Report</h1>
</div>
<div class="main-content-card p-7 bg-white shadow-md rounded">
  <%= render partial: 'user/bug_reports/partials/form',
              locals: {
                bug_report: @bug_report,
                text_submit: 'Save',
                url: user_bug_reports_path
              } %>
</div>
