<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<div class="p-7">
  <div class="main-content-header mb-3 flex justify-between gap-2 items-center">
    <h1 class="interview-header-title text-3xl font-bold">Edit Thread</h1>
    <div class="form-group flex flex-wrap justify-end items-center gap-2 text-right col-span-1">
      <span>
        <input type="submit" class="bg-pacifixBlue border-pacifixBlue border text-white px-5 py-2 rounded hover:shadow-lg transition ease-in" value="Submit" form="forum_form">
      </span>
      <span>
        <%= link_to 'Back', user_help_questions_path, class: 'inline-block border border-pacifixBlue px-5 py-2 rounded hover:bg-slate-100 transition ease-in bg-white' %>
      </span>
    </div>
  </div>
  <div class="main-content-card bg-white p-7 rounded shadow-md">
    <%= render partial:'user/help/questions/partials/form', locals: { forum: @forum, url: user_help_question_path(@forum) } %>
  </div>
</div>
